@use 'libs/animate.min';
@use 'libs/bootstrap-reboot.min';
@use 'libs/fonts';
@use 'libs/slick';

@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/animations' as a;

@use 'blocks/promo';
@use 'blocks/header';
@use 'blocks/buttons';
@use 'blocks/titles';
@use 'blocks/advantages';
@use 'blocks/consultation';
@use 'blocks/forms';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/footer';
@use 'blocks/feed';
@use 'blocks/modal';
@use 'blocks/pageup';
@use 'base/media';


body {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}